@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.image-logo {
  height: 50px;
  width: 50x;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically centers the items */
  margin: 10px;
  padding: 10px;
}

.nav_links {
  list-style: none;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-left: 5px;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.nav_links li a:hover {
  color: white;
}

button {
  padding: 9px 25px;
  background-color: #cbd5e1;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
button:hover {
  background-color: aliceblue;
  color: black;
  border: 2px solid black;
}

#icon-arrow-right {
  margin-left: 10px;
}

.bannerSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #b7c4fccc;
}
.banner-left {
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 600px;
}

.banner-right {
}

.bannerMaintext {
  color: white;
  font-size: 60px;
  text-align: center;
}
.bannerminitext {
  color: black;
  font-size: 24px;
  text-align: center;
  text-align: justify;
}
.bannerImage {
  /* Ensure the element behaves as a flex container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 600px;
  height: 350px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.btn-banner {
  margin: 20px;
  justify-content: center;
}

.clients {
  justify-content: center;
}

.clits_text {
  font-size: 60px;
  color: wheat;
  text-align: center;
}
.clits_text_small {
  font-size: 12px;
  margin-top: -30px;
  text-align: center;
}

.logo-clienst {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  margin-top: 50px;
}
.clientslogo {
  width: 50px;
}

.powerBlockchain {
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

.powerBlockchaintext {
  justify-content: center;
  font-size: 48px;
}
.power-bellow {
  font-size: 18px;
  line-height: 5px;
  color: blue;
}

.power {
  font-weight: 600;
  display: block;
  line-height: 60px;
}

.powercard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  width: 100%; /* Use full width of the container */
  max-width: 1360px; /* Max width to control the size */
  margin-left: auto; /* Center content horizontally */
  margin-right: auto; /* Center content horizontally */
}

.card {
  background-color: #8ec5fc4d;
  padding: 20px;
  border: 1px solid lightskyblue;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 20px 30px;
}

#icon-bg {
  background-color: #cbd5e1;
  border-radius: 40% 5px 40% 5px;
  padding: 10px;
  font-size: 30px;
}
.text-card {
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
}

.mini_text-card {
  font-size: 18px;
  color: gray;
  line-height: 20px;
}

.helpingBlockchain {
  display: flex;
  justify-content: center;
  background-color: #8ec5fc4d;
  margin-top: 40px;
}

.help-left {
}
.help-left-bold-text {
  font-size: 36px;
  line-height: 40px;
  margin-right: 30px;
  text-align: center;
}

.help-left-small-text {
  font-size: 12px;
  margin-top: -20px;
  text-align: center;
}

/* .help-right {
  margin-left: 30px;
  margin-top: 40px;
}

.right-flex {
  display: flex;
}

.right-1 {
  display: flex;
  justify-content: space-between;
}

#icon-logo-right {
  font-size: 24px;
  margin-right: 25px;
  color: greenyellow;
  margin-left: 35px;
} */

.statistics-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 equal-width columns */
  grid-template-rows: repeat(2, auto); /* 2 rows with automatic height */
  gap: 20px; /* Space between grid items */
}

.stat-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* Optional: Add background color */
  padding: 20px;
  border-radius: 8px; /* Optional: Add border radius for rounded corners */
}

.stat-icon {
  font-size: 24px;
  margin-right: 25px;
  color: greenyellow;
  margin-left: 35px; /* Space between icon and text */
}

.stat-info h3 {
  margin: 0;
  font-size: 24px; /* Adjust size as necessary */
}

.stat-description {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.usertotal {
  margin-top: -30px;
  font-size: 18px;
}

.blockchaintext {
  color: gray;
  font-weight: 400;
  margin-top: -20px;
  justify-content: center;
  text-align: center;
}

.right-1 {
  margin-left: 60px;
}

.blockchainFuture {
  justify-content: center;
  margin-top: 100px;
}

.blockchainFutureText {
  justify-content: center;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

.blockchainFutureTextHeader {
  font-size: 48px;
  text-align: center;
}

.blockchainFutureTextbody {
  max-width: 50%;
  margin: 0 auto;
  margin-top: -30px;
  text-align: center;
}

.parallel_text {
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
}

.parallel_text-1 {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.image-future {
  border-radius: 15px;
  height: 200px;
  width: 300px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: relative;
}

.image-futures {
  border-radius: 15px;
  height: 300px;
  width: 600px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: relative;
  margin-top: -25px;
}

.overlapfuture {
  background-color: rgba(142, 197, 252, 0.5);
  height: 180px;
  width: 250px;
  margin-left: 20px;
  margin-top: -80px;
  z-index: 2;
  position: absolute;
  border-radius: 10px;
}

.overlapfutureText {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.overlapfuturered {
  text-align: center;
  font-size: 18px;
  margin-left: 50px;
}

.overlapfuture:hover {
  background-color: #e0c3fc;
}

.contractForm {
  margin-top: 200px;
  background-color: rgba(142, 197, 252, 0.5);
  display: flex;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  height: 450px;
}

.imageform {
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-left: 100px;
}

.contractusform {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  height: 370px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  width: 400px;
  align-items: center;
  margin: 50px;
  position: relative; /* Needed for absolute positioning of formdiv */
}

.form-header {
  text-align: center;
  font-family: fantasy;
  font-size: 24px;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7); /* Adds a soft shadow */
}

.formdiv {
  display: flex;
  justify-content: center;
}

.labelname {
  font: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 20px;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.input-text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
  padding: 10px;
  background-color: #a6c1ee;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.textcomment {
  margin-left: 58px;
  margin-top: 20px;
  background-color: #8ec5fc;
  padding: 10px;
  display: inline-block;
}

.labelnameCom {
  align-items: center;
  margin-top: 50px;
  color: black;
  font-size: 24px;
  margin-top: 20px;
}

.buttncommen {
  display: flex; /* Enable Flexbox */
  align-items: center; /* Center vertically */
  justify-content: center;
  margin-top: 10px; /* Center horizontally */
}

.btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin-top: 10px;
  width: 200px;
  padding: 5px;
  margin-top: 10px;
  margin-left: 60px;
}

.footer {
  background-color: azure;
  margin-top: 100px;
  min-height: fit-content;
  display: flex;
  justify-content: space-between;
}

.footerheader {
  /* Enables Flexbox */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  margin-left: 80px; /* Keeps your left margin */
  height: 100%;
  margin-top: 50px; /* Ensures it takes full height of its parent */
}

.logofoot {
  display: flex;
  justify-content: space-between;
}

#logoid {
  font-size: 24px;
  background-color: lightgrey;
  padding: 7px;
  border-radius: 10px;
  margin-left: 10px;
}

.footermiddle {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.footermiddle-1 {
  margin-right: 40px;
  align-items: center;
}

.footersmalltext {
  font-size: larger;
  margin-top: 30px;
  margin-bottom: 40px;
}

.footterminitext {
  font-size: small;
  color: black;
  margin-top: -20px;
  font-weight: 400;
}

.footer-right {
  margin-top: 50px;
  margin-right: 80px;
}
.copyright {
  font-size: small;
}

.input-container {
  position: relative;
  width: 100%;
  background-color: #ffffff80;
  border-radius: 25px;
}

.input-container input {
  width: 100%;
  padding-right: 40px;
  padding: 10px;
  margin-right: 50px; /* Add padding to the right to make room for the icon */
}

.input-container i {
  position: absolute;
  right: 10px; /* Adjust the position of the icon from the right edge */
  top: 50%;
  transform: translateY(-50%); /* Vertically centers the icon */
  pointer-events: none; /* Prevent the icon from interfering with user input */
}

.right-2 {
  display: grid;
}

@media only screen and (max-width: 320px) {
  .navbar {
    display: inline-block;
    text-align: left;
    width: fit-content;
    width: 320px;
  }
  .nav-class {
    width: fit-content;
    display: inline-block;
  }

  .nav-links {
    width: 320px;
  }
  .nav-links ul {
    width: 320px;
    display: block;

    margin-left: -30px;
  }
  .nav-links ul li {
    width: 320px;
    display: inline-block;

    margin-left: -30px;
  }

  .nav-class ul li a {
    text-align: center;
    font-size: 12px;
    margin-left: -50px;
    margin-right: 20px;
  }
  button {
    width: 50%;
  }

  .bannerSection {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    width: fit-content;
    grid-template-areas:
      "right"
      "left";
  }

  .banner-left {
    margin-top: 30px;
    justify-content: center;
    width: 150px;
  }
  .bannerMaintext {
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;
    width: 300px;
    margin-left: -20px;
    margin-top: -20px;
  }

  .bannerminitext {
    font-size: small;
    text-align: justify;
    width: 250px;
    margin-left: 15px;
  }

  .btn-banner {
    width: 150px;
  }

  .banner-right {
    grid-area: right;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
    width: 80%;
  }

  .bannerImage {
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 250px;
    height: 150px;
    margin-left: -30px;
  }

  .clients {
    width: 100%;
  }

  .clients_zone {
    align-items: center;
    justify-content: center;
  }

  .logo-clienst {
    width: fit-content;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 2fr);
    gap: 30px;
  }
  .power-bellow {
    font-size: 12px;
  }
  .helpingBlockchain {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    gap: 30px; /* Make sure the container takes full viewport height */
  }
  .statistics-container {
    margin-right: 20px;
  }

  .blockchainFuture {
    width: fit-content;
  }

  .parallel_text {
    width: fit-content;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .parallel_text-1 {
    width: 100%;
    gap: 10px;
    position: relative;
    margin-right: 50px;
    margin-top: 100px;
  }
  .image-future {
    width: 150px;
    height: 70px;
  }

  .helpingBlockchain {
    width: 100%;
  }
  .help-left {
    width: 100%;
    justify-content: center;
    align-content: center;
  }

  .help-left-bold-text {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 20px 20px;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .help-left-small-text {
    text-align: center;
    margin: 0 20px;
    margin-top: 20px;
  }
  .statistics-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .blockchainFuture {
    width: 100%;
  }

  .blockchainFutureText {
  }
  .blockchainFutureTextHeader {
    font-size: 24px;
    margin-bottom: 60px;
  }
  .blockchainFutureTextbody {
    font-size: 8px;

    text-align: center;
  }

  .overlapfutureText {
    font-size: 5px;
  }

  .overlapfuturered {
    margin-top: 0px;
    margin-right: -0px;
  }

  .overlapfuture {
    position: relative;
    width: 100px;
    height: 70px;
  }

  .imageform {
    width: 100px;
    justify-content: center;
  }

  .image-futures {
    width: 250px;
    height: 100px;
    margin-left: -80px;
  }
 .parallel_text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
 .parallel_text-1{
  margin: 20px 5px;
 }

 .overlapfuture{
  height: 50px;
  width: 100px;
 }
.overlapfuturered{
 font-size:5px ;
 height: 20px;
 width: 100px;
 justify-content:center ;
 align-items: center;
 margin-left: -10px;
}
 

  .contractForm {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    margin-bottom: 400px;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(3);
    justify-content: center;
  }
  .footerleft {
    width: 100%;
    margin-left: -50px;
  }

  .footermiddle {
    width: 100%;
    justify-content: center;
    margin-left: 20px;
  }

  .footer-right {
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .stay {
    margin-left: 30px;
    margin-bottom: 10px;
  }
}
