@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.image-logo {
  height: 50px;
  width: 50x;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically centers the items */
  margin: 10px;
  padding: 10px;
}

.nav_links {
  list-style: none;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-left: 5px;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.nav_links li a:hover {
  color: black;
}

button {
  padding: 9px 25px;
  background-color: #cbd5e1;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
button:hover {
  background-color: aliceblue;
  color: black;
  border: 2px solid black;
}

#icon-arrow-right {
  margin-left: 10px;
}

.bannerSection {
  display: flex;
  justify-content: space-between;
  background-color: #b7c4fccc;
}
.banner-left {
  justify-content: center;
  margin: 20px;
}

.bannerMaintext {
  color: white;
  font-size: 60px;
  text-align: center;
}
.bannerminitext {
  color: black;
  font-size: 24px;
  text-align: center;
  text-align: justify;
}

.btn-banner {
  margin: 20px;
  justify-content: center;
}

.clients {
  justify-content: center;
}

.clits_text {
  font-size: 60px;
  color: wheat;
  text-align: center;
}
.clits_text_small {
  font-size: 12px;
  margin-top: -30px;
  text-align: center;
}

.logo-clienst {
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  justify-content: space-between;
}
.clientslogo {
  width: 50px;
}

.powerBlockchain {
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

.powerBlockchaintext {
  justify-content: center;
  font-size: 48px;
}
.power-bellow {
  font-size: 18px;
  line-height: 5px;
  color: blue;
}

.power {
  font-weight: 600;
  display: block;
  line-height: 60px;
}

.powercard {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.card {
  background-color: #8ec5fc4d;
  padding: 20px;
  border: 1px solid lightskyblue;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 20px 30px;
}

#icon-bg {
  background-color: #cbd5e1;
  border-radius: 40% 5px 40% 5px;
  padding: 10px;
  font-size: 30px;
}
.text-card {
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
}

.mini_text-card {
  font-size: 18px;
  color: gray;
  line-height: 20px;
}

.helpingBlockchain {
  display: flex;
  justify-content: center;
  background-color: #8ec5fc4d;
  margin-top: 40px;
}

.help-left {
}
.help-left-bold-text {
  font-size: 36px;
  line-height: 40px;
  margin-right: 30px;
  text-align: center;
}

.help-left-small-text {
  font-size: 12px;
  margin-top: -20px;
  text-align: center;
}

.help-right {
  margin-left: 30px;
  margin-top: 40px;
}

.right-flex {
  display: flex;
}

.right-1 {
  display: flex;
  justify-content: space-between;
}

#icon-logo-right {
  font-size: 24px;
  margin-right: 25px;
  color: greenyellow;
  margin-left: 35px;
}

.usertotal {
  margin-top: -30px;
  font-size: 18px;
}

.blockchaintext {
  color: gray;
  font-weight: 400;
  margin-top: -20px;
  justify-content: center;
  text-align: center;
}

.right-1 {
  margin-left: 60px;
}

.blockchainFuture {
  justify-content: center;
  margin-top: 100px;
}

.blockchainFutureText {
  justify-content: center;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

.blockchainFutureTextHeader {
  font-size: 48px;
  text-align: center;
}

.blockchainFutureTextbody {
  max-width: 50%;
  margin: 0 auto;
  margin-top: -30px;
  text-align: center;
}

.parallel_text {
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
}

.parallel_text-1 {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.image-future {
  border-radius: 15px;
  height: 200px;
  width: 300px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: relative;
}

.overlapfuture {
  background-color: rgba(142, 197, 252, 0.5);
  height: 180px;
  width: 250px;
  margin-left: 20px;
  margin-top: -80px;
  z-index: 2;
  position: absolute;
  border-radius: 10px;
}

.overlapfutureText {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.overlapfuturered {
  text-align: center;
  font-size: 18px;
  margin-left: 50px;
}

.overlapfuture:hover {
  background-color: #e0c3fc;
}

.contractForm {
  margin-top: 200px;
  background-color: rgba(142, 197, 252, 0.5);
  display: flex;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  height: 450px;
}

.imageform {
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-left: 100px;
}

.contractusform {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  width: 400px;
  align-items: center;
  margin: 50px;
  position: relative; /* Needed for absolute positioning of formdiv */
}

.form-header {
  text-align: center;
  font-family: fantasy;
  font-size: 24px;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7); /* Adds a soft shadow */
}

.formdiv {
  display: flex;
  justify-content: center;
}

.labelname {
  font: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 20px;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
  padding: 10px;
  background-color: #a6c1ee;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.textcomment {
  margin-left: 50px;
  margin-top: 20px;
  background-color: #8ec5fc;
  padding: 10px;
}

.labelnameCom {
  align-items: center;
  margin-top: 50px;
  color: black;
  font-size: 24px;
}

.btn-submit {
  height: 30px;
  margin-left: 10px;
  margin-top: 50px;
  width: 200px;
  padding: 5px;
}

.footer {
  background-color: azure;
  margin-top: 100px;
  min-height: 50vh;
  display: flex;
  justify-content: space-between;
}

.footerheader {
  /* Enables Flexbox */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  margin-left: 80px; /* Keeps your left margin */
  height: 100%;
  margin-top: 50px; /* Ensures it takes full height of its parent */
}

.logofoot {
  display: flex;
  justify-content: space-between;
}

#logoid {
  font-size: 24px;
  background-color: lightgrey;
  padding: 7px;
  border-radius: 10px;
  margin-left: 10px;
}

.footermiddle {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.footermiddle-1 {
  margin-right: 40px;
  align-items: center;
}

.footersmalltext {
  font-size: larger;
  margin-top: 30px;
  margin-bottom: 40px;
}

.footterminitext {
  font-size: small;
  color: black;
  margin-top: -20px;
  font-weight: 400;
}

.footer-right {
  margin-top: 50px;
  margin-right: 80px;
}
.copyright {
  font-size: small;
}

.input-container {
  position: relative;
  width: 100%;
  background-color: #ffffff80;
  border-radius: 25px;
}

.input-container input {
  width: 100%;
  padding-right: 40px;
  padding: 10px;
  margin-right: 50px; /* Add padding to the right to make room for the icon */
}

.input-container i {
  position: absolute;
  right: 10px; /* Adjust the position of the icon from the right edge */
  top: 50%;
  transform: translateY(-50%); /* Vertically centers the icon */
  pointer-events: none; /* Prevent the icon from interfering with user input */
}
