@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically centers the items */
  margin: 10px;
  padding: 10px;
}

.nav_links {
  list-style: none;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-left: 5px;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.nav_links li a:hover {
  color: black;
}

button {
  padding: 9px 25px;
  background-color: #cbd5e1;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
button:hover {
  background-color: aliceblue;
  color: black;
  border: 2px solid black;
}

#icon-arrow-right {
  margin-left: 10px;
}

.bannerSection {
  display: flex;
  justify-content: space-between;
  background-color: #b7c4fccc;
}
.banner-left {
  justify-content: center;
  margin: 20px;
}

.bannerMaintext {
  color: white;
  font-size: 60px;
  text-align: center;
}
.bannerminitext {
  color: black;
  font-size: 24px;
  text-align: center;
  text-align: justify;
}

.btn-banner {
  margin: 20px;
  justify-content: center;
}

.clients {
  justify-content: center;
}

.clits_text {
  font-size: 60px;
  color: wheat;
  text-align: center;
}
.clits_text_small {
  font-size: 12px;
  margin-top: -30px;
  text-align: center;
}

.logo-clienst {
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  justify-content: space-between;
}
.clientslogo {
  width: 50px;
}

.powerBlockchain {
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

.powerBlockchaintext {
  justify-content: center;
  font-size: 48px;
}
.power-bellow {
  font-size: 18px;
  line-height: 5px;
  color: blue;
}

.power {
  font-weight: 600;
  display: block;
  line-height: 60px;
}

.powercard {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.card {
  background-color: #8ec5fc4d;
  padding: 20px;
  border: 1px solid lightskyblue;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 20px 30px;
}

#icon-bg {
  background-color: #cbd5e1;
  border-radius: 30% 2px;
  padding: 10px;
  font-size: 30px;
}
.text-card {
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
}

.mini_text-card {
  font-size: 18px;
  color: gray;
  line-height: 20px;
}

.helpingBlockchain {
  display: flex;
  justify-content: center;
  background-color: #8ec5fc4d;
  margin-top: 40px;

}

.help-left {
}
.help-left-bold-text {
  font-size: 36px;
  line-height: 40px;
  margin-right: 30px;
  text-align: center;
}

.help-left-small-text {
  font-size: 12px;
  margin-top: -20px;
  text-align: center;
}

.help-right{
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-top: 40px;

}

.right-1{
  display: flex;
  justify-content: space-between;
}


#icon-logo-right{
  font-size: 24px;
  margin-right: 25px;
  color: greenyellow;
  margin-left: 35px;
}

.usertotal{
  margin-top: -30px ;
  font-size: 18px;
}

.blockchaintext{
  color: gray;
  font-weight: 400;
  margin-top: -20px;
  justify-content: center;
  text-align: center;
}

.right-1{
  margin-left: 60px;
}